<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studio.visitsukabumi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />-->
    <!-- Required to show current location -->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <!--<uses-feature-->
        <!--android:glEsVersion="0x00020000"-->
        <!--android:required="true" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Add Google Map Library -->
        <!--<uses-library android:name="com.google.android.maps" />-->

        <!-- Goolge API Key -->
        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="AIzaSyC2YAY0VgxAiBimsZWB9NLZPFMYim2Eo3k" />-->

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DashboardTheme" />
        <activity android:name=".ui.akomodasi.AkomodasiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.akomodasi.detail.DetailAkomodasiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.akomodasi.AkomodasiActivity" />
        </activity>
        <activity
            android:name=".ui.objek_wisata.detail.DetailObjekWisataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.objek_wisata.ObjekWisataActivity" />
        </activity>
        <activity
            android:name=".ui.objek_wisata.ObjekWisataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.unggulan.UnggulanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.transportasi.TransportasiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.pelayanan_publik.PelayananPublikActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.restoran.RestoranActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.belanja.BelanjaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.seni_budaya.SeniBudayaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.aktifitas.AktifitasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.event.EventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.aktifitas.DetailAktifitasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.aktifitas.AktifitasActivity" />
        </activity>
        <activity
            android:name=".ui.belanja.DetailBelanjaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.belanja.BelanjaActivity" />
        </activity>
        <activity
            android:name=".ui.event.DetailEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.event.EventActivity" />
        </activity>
        <activity
            android:name=".ui.pelayanan_publik.DetailPelayananPublikActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.pelayanan_publik.PelayananPublikActivity" />
        </activity>
        <activity
            android:name=".ui.restoran.DetailRestoranActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.restoran.RestoranActivity" />
        </activity>
        <activity
            android:name=".ui.seni_budaya.DetailSeniBudayaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.seni_budaya.SeniBudayaActivity" />
        </activity>
        <activity
            android:name=".ui.transportasi.DetailTransportasiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.transportasi.TransportasiActivity" />
        </activity>
        <activity android:name=".ui.map.MapActivity"></activity>
    </application>

</manifest>