<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studio.visitsukabumi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DashboardTheme" />
        <activity android:name=".ui.akomodasi.AkomodasiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.akomodasi.detail.DetailAkomodasiActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.akomodasi.AkomodasiActivity" />
        </activity>
        <activity android:name=".ui.objek_wisata.ObjekWisataActivity"></activity>
    </application>

</manifest>